

@import url(styles.css);




.about-us
{
    height: 400px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.about-us-container
{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bright-blue
{
    width: 80%;
    text-indent: 40px;
    width: 80%;

}

.about-us .btn
{
    background-color: var(--bright-yellow);
}

.our-story
{
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.our-story-container
{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



