

@import url(styles.css);




.shopgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    font-size: 1em;
    width: auto;
}

.shopgrid > div{
    display: inline-block;
}
    