
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 900px ;
    max-height: 1000px;


    width: 100vw;
    min-width: 1700px;
    max-width: 2000px;
    /* overflow: hidden; */
    margin: 0; 
}








/* #region Header Styles */

.header
{
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
}

.spacer
{
    height: 30px;
    background-color: var(--bright-blue);
    width: 100%;
}

.header-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;

}

.logo a
{
    color: white;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.nav
{
    display: flex;
}

.nav-buttons
{
    display: flex;
}

.nav-buttons li
{
    margin-right: 20px;
}

.nav-buttons li a
{ 
    font-size: 16px;
    color: white;
}

.img-container
{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}






/* #endregion */

/* #region Strive Styles */

.strive-for
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;

    background-color:antiquewhite;
    padding: 40px 0;
}

.strive-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.strive-text
{
    width: 70%;
    font-size: 12px;
    line-height: 20px;

}

.strive-cards
{
    padding-top: 20px;
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.strive-card
{
    background-color: var(--dark-blue);
    width: 320px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strive-container
{
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}


.strive-card ul li
{
    display: flex;
    padding: 5px 0px;;
    transition: font-size 0.3s ease, font-weight 0.3s ease, transform 0.3s ease;
}


.strive-card ul li:hover p
{
    font-size: calc(12px * 1.2);
    font-weight: bold;
}

.strive-card ul li:hover img
{
    transform: scale(1.2);
}


.strive-card ul li p
{
    padding: 0px 5px;
}


.strive-card p
{
    color: white;
    font-size: 12px;
}

.strive-card .btn
{
    background-color: var(--bright-blue);
}





/* #endregion */


/* #region Filler About */


.filler-about
{
    background-color: var(--dark-blue);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: center;


    padding: 40px 0;
}

.filler-container
{
    padding-top: 20px;
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}




.filler-data
{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filler-data p
{
    color: white;

}

.filler-about-image-container 
{

    display: flex;
    align-items: center;
    justify-content: center;
}

.filler-about-image 
{
    max-width: 100%; 
    height: auto;
    fill: cover;
}




/* #endregion */

/* #region Commends */

.comments-from-clients
{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.comment-container
{

    width: 80%;
    height:300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.comment
{
    width: 320px;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px 20px;
}

.comment p
{
    padding: 20px 0;
    font-size: 14px;
}

.user-comment
{
    height: 120px;
}

.comment-info p
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-info p span
{
    padding: 3px 0;
}

.comment-name
{
    font-weight: 600;
}

.comment-job
{
    font-size: 12px;
    color: var(--soft-blue);
}


.comment:nth-child(odd)
{
    background-color: var(--bright-blue);
}

.comment:nth-child(odd) hr
{
    background-color: var(--soft-blue);
}

.comment:nth-child(even) .comment-job
{
    color: var(--dark-blue);
}

.comment:nth-child(even)
{
    background-color: var(--bright-yellow);
}

.comment:nth-child(even) hr
{
    background-color: var(--dark-blue);
}



.quote-mark-img
{
    width: 32px;
    height: 32px;
}


/* #endregion */




/* #region Footer */

footer
{
    padding: 40px 0;
    width: 100%;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.top-footer
{

}

.bottom-footer
{
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer-card
{
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-card p
{
    padding: 10px 0;
}

.footer-card ul li:nth-child(1)
{
    padding-top: 10px 0;
}

.footer-card ul li
{
    padding: 5px 0;
}

.footer-card .btn
{
    background-color: var(--bright-yellow);
    cursor: pointer;
}

/* #endregion */



