:root
{
    --large-font:40px;
    --mid-font:24px;
    --base-font:14px;
    --bright-yellow:#ffb901;
    --soft-yellow:#ffe492;
    --bright-blue:#3baeef;
    --dark-blue:#043873;
    --soft-blue:#c7e3f3;
}